/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/**********/
/* STYLES */
/**********/
body {
    /*background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, rgb(0,0,0)),
        color-stop(0.7, rgb(10,10,10))
    );
    color: #FFF;*/
    font-family: "HelveticaNeue-Light", "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
}

div#wrapper {
    -webkit-perspective: 700px;
    -webkit-perspective-origin: 110% 100px;

    width: 840px;
    height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -170px 0 0 -420px;

}

div#content {
    -webkit-transform: translateZ(0px);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s ease-in-out;
}

div.item {
    position: absolute;
    height: 300px;
    width: 800px;
    background: #000 url(dvsup.png) repeat top left;
    color: #FFF;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(25, 25, 25);
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    -webkit-transition: opacity 1s ease-in-out;
}

div.item div.images {
    width: 400px;
    height: 300px;
    background-position: top center;
    border-radius: 10px;
}
div.item div.images img.person {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 220px;
    left: 320px;
    border-radius: 10px;
}
div.item div.text {
    width: 400px;
    height: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: start;
    padding: 0 20px;
}
div.item div.text p {
    font-size: 1.5em;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.15em;
    max-width: 380px;
    display: block;
}
div.item div.text p:first-child {
    font-size: 3em;
    font-style: normal;
}
div.item div.text p:not(:first-child) {
    margin-top: 20px;
}