<!DOCTYPE html>
<html>
<head>
    <title>Ritune</title>

    <link rel="stylesheet" href="css/style.css"/>

    <script id="homeViewTemplate" type="text/html">
        <div id="wrapper">
            <div id="content">
                
            </div>
        </div>

        Artist <input id="artist" />
        Title <input id="title" />
        URL <input id="url" />
        <button id="add">Add</button>
    </script>

    <script id="songTemplate" type="text/html">
        <div class="item">
            <div class="images" style="background-image: url(http://userserve-ak.last.fm/serve/500/53094095/Lazer+Sword+lazersword.jpg)">
                <img src="http://ribot.co.uk/wp-content/uploads/2011/03/ribot_avatar_rob.png" class="person" alt="" />
            </div>
            <div class="text">
                <p class="title"><%= song.title %></p>
                <p class="artist"><%= song.artist %></p>
            </div>
        </div>
    </script>

    <!-- LIBS -->
    <script src="js/libs/json2.js"></script>
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/backbone/underscore.js"></script>
    <script src="js/libs/backbone/backbone.js"></script>
    <script src="js/libs/dateFormat.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- RITUNE -->
    <script src="js/ritune.js"></script>
    <script src="js/models/models.js"></script>
    <script src="js/collections/collections.js"></script>
    
    <!-- CONTROLLERS -->
    <script src="js/controllers/ajaxController.js"></script>
    <script src="js/controllers/dataController.js"></script>
    <script src="js/controllers/viewController.js"></script>
    <script src="js/controllers/router.js"></script>

    <!-- APP VIEWS -->
    <script src="js/views/HomeView.js"></script>
    <script src="js/views/SongView.js"></script>

    <script>
        $(document).ready(function() {
            RITUNE.appController.init();
        });
    </script>
</head>

<body>
    <div id="homeView" class="view"></div>
</body>
</html>
